@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
  --black: #1d1d1d;
  --jade-dark:#081b1b ;
  --jade-standard: #203b37;
  --jade-light:#5a8f76 ;
  --gold:#e2a258 ;
  --breakpoint-mb:300px
}

@theme inline {
  --color-black: var(--black);
  --color-jade-dark: var(--jade-dark);
  --color-jade-standard: var(--jade-standard);
  --color-jade-light: var(--jade-light);
  --color-gold: var(--gold);
}

body {
  background: var(--background);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
